<!-- <app-home></app-home>-->
<router-outlet></router-outlet> 
<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<img id="i1" src="/assets/logo (1).png" width="30%" height="70px">
<h2>Lab CIE Analysis 2021</h2>
<div class="navbar">
  <a routerLink="/home">Home</a>
  <a href="A_conso_prev.html">Previous Year</a>
  <div class="dropdown">
    <button class="dropbtn">Select course 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/awt2021">WT LAB</a>
      <a href="/ass2021">SS LAB</a>
      <a href="/aml2021">ML LAB</a>
      <a href="/adiv2021">ALL </a> 
    </div>
  </div> 
</div>
</body>
</html>  
<router-outlet></router-outlet>
 -->
